[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/twenty-twenty-hugo"]
	path = themes/twenty-twenty-hugo
	url = https://github.com/themefisher/twenty-twenty-hugo.git
[submodule "themes/twenty-twenty"]
	path = themes/twenty-twenty
	url = https://github.com/themefisher/twenty-twenty-hugo.git
